.examreader__title {
  margin-bottom: 20px;
}

.examreader__content-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.examreader__options {
  display: flex;
  gap: 20px;
}

.examreader__option--active {
  border: 2px solid var(--blue);
}

.examreader__content {
  flex-grow: 1;
}

@media (max-width: 479px) {
}
