.header {
  margin: 0;
  height: var(--headerHeight);
  background-color: var(--primary);
  margin-bottom: 20px;
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  color: var(--white);
}

.header__logo-wrapper {
  width: 40px;
  display: flex;
}

.header__logo {
  max-width: 100%;
}

.header__menu-mobile-backdrop,
.header__menu-mobile-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
}

.header__menu-mobile-backdrop {
  display: none;
  justify-content: flex-start;
  right: 0;
  background-color: var(--blackOpacity60);
}

.header__menu-mobile-backdrop--show {
  display: flex;
}

.header__menu-mobile-wrapper {
  width: 90%;
  margin-left: 0;
  background-color: var(--primary);
  padding: 10px 0;
  z-index: 1;
  transform: translateX(-100%);
  transition: 250ms ease-in-out;
}

.header__menu-mobile-wrapper--show {
  transform: translateX(0);
}

.header__menu-mobile-header { 
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--black);
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.header__menu-mobile-logo {
  width: 30px;
}

.header__menu-icon-wrapper {
  display: none;
  cursor: pointer;
}

@media (max-width: 1019px) {
  .header__menu-wrapper {
    display: none;
  }

  .header__menu-icon-wrapper {
    display: block;
  }
}