.options__wrapper {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.options__option {
  cursor: pointer;
  display: flex;
  padding: 10px 25px;
  font-size: 18px;
  font-weight: 500;
  border-radius: var(--borderRadius10);
  color: var(--black);
  background-color: var(--accent-pink);
  transition: 250ms ease-in-out;
}

.options__option:not(.options__option--active):hover {
  transform: scale(1.05) translateY(-2px);
  background-color: var(--primary);
  color: var(--white);
}

.options__option--active {
  border: 2px solid var(--blue);
}
