.modal {
  position: fixed;
  top: 50%;
  left: 0;
  transform: translate(-100%, -50%);
  z-index: 1;
  max-width: 500px;
  background-color: var(--white);
  border-radius: var(--borderRadius10);
  padding: 20px;
  transition: 300ms ease-in-out;
  overflow: hidden;
}

.modal--show {
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal__header,
.modal__body {
  margin-bottom: 20px;
}

.modal__header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal__header-icon-wrapper {
  cursor: pointer;
}

.modal__body {
  line-height: 2;
}

.modal__exam-name {
  margin-bottom: 20px;
}

@media(max-width: 767px) {
  .modal {
    max-width: 400px;
  }
}

@media(max-width: 479px) {
  .modal {
    max-width: 300px;
  }

  .modal__message {
    font-size: 14px;
  }

  .modal__actions {
    gap: 10px;
    flex-direction: column;
  }
}