:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* Header Height */
  --headerHeight: 60px;

  /* Start Colors */
    --primary: #C0C080;
    --green: #214E34;
    --blue: #124E78;
    --red: #EF271B;
    --white: #fff;
    --black: #000000;
    --blackOpacity60: #00000099;
  /* End Colors */

  /* Start Border */
    --borderRadius10: 10px;
    --borderWidth: 1px;
    --borderStyleSolid: solid;
    --borderStyleDashed: dashed;
  /* End Border */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  min-height: 100vh;
  position: relative;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;
  padding: 0 20px;
}
